.project-menu{
    width: 80%;
    font-size: 15px;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    
    
    @media screen and (max-width:750px){
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
    }
    
    .item-card{
        border:1px solid black;
        border-radius:10px;
        padding:10px;
        &:hover{
            transform: scale(1.1);
        }
    }
}
