.skillcard{
    width: 100px;
    background-color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    border-radius:5px;
    height:100px;
    color: black;
    font-weight: bold;
    .fa{
        font-size: 35px;
        display: block;
        margin-bottom: 15px;
    }
}

