.display-text{
    width:100%;
    color: snow;
    margin: 30px 0 30px 0;
    font-size:25px;
    display: flex;
    align-items: center;
    justify-content: center;

@media screen and (max-width:750px){
        font-size : 18px;
}
}