.profilepage {
    margin-top: 0px;
    padding-top: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .img{
    border-radius: 50%;
    border: 5px solid #607196;
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }
  
  .button {
    min-width: 150px;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(238, 18, 51);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .button:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  
  .skillcard-container{
   height: 100px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    overflow:hidden;
  }
  .media{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    .fa{
        color:snow;
        border-radius: 50%;
        border: 3px solid #607196;
        text-decoration-line: none;
        padding:5px;
        margin:2px;
    }
    .fa:hover{
      opacity: 0.7;

    }
  
  }