.header{
    width: 85%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .nameIcon{
        color:white;
        font-size: 30px;
        margin: 10px;
        font-family: 'Dancing Script', cursive;
    }
    .download-button{
        border-radius: 20px;
        text-decoration: none;
        
        margin: 10px;
        height: 30px;
    }
    .menu-item{
        height: 20px;
        width: 80%;
        background-color: #607196;
        border-radius: 20px;
        font-weight: bold;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
     .option {
            text-decoration: none;
            color: white;
        }   
        
    }   

}