$small: 750px;
.header{
    width: 85%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:$small){
        
        // height: 760px;
        // margin: 0px;
        // padding: 0px;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: flex-start;
    }
    .fa{
        color:rgba(117, 43, 16, 0.829);
        &:hover{
            color: black;
        }
    }
    .menu-bar{
        background: none;
        border:none;
        font-size: 25px;
        cursor:pointer;
        display: none;

    }
    .nameIcon{
        color:white;
        font-size: 30px;
        margin: 10px;
        font-family: 'Dancing Script', cursive;
    }
    .download-button{
        border-radius: 20px;
        text-decoration: none;
        margin: 10px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width:$small){
            margin: 10px 0px;
            font-size: 10px;
            display: flex;
            justify-content: space-evenly;
        }
    }
    .menu-item{
        height: 30px;
        width: 80%;
        background-color: #607196;
        border-radius: 20px;
        font-weight: bold;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row; 
        justify-content: flex-end;
        
        
   
     .option {
            float:center;
            display: block;
            margin: 0px 20px;
            text-align: center;
        
            text-decoration: none;
            color: white;
           
           
            @media screen and (max-width:$small){
                
                    margin: 0px 10px;
                }
           
                &:hover {
                height: 2px;
                color: black;
                opacity: 0.8;
                
              }
        }   
      
    }   
    

    @media screen and (max-width:$small){
        .option{
            margin: 15px 10px;
        }
        .menu-bar{
            display:none;
            &:hover{
                color: snow;
                }
            }
        }
    }
