
.App {
  margin-top: 0px;
  padding-top: 0px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

@media  screen and (max-width:750px){
  /* .App{
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .header{
    width: 30%;
    height: 400px;

  } */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
